{% extends "base_dashboard.html" %}

{% block content_table %}
<div class="container">
    <h1>このアプリについて</h1>
    <p>
        このシステムは、Youtubeでリベラルアーツ大学を運営している「両学長」が紹介する<br>
        日本株高配当について、IRBANKから効率よく見つけるために作ってみました。<br></p>

    <h2>日本高配当株の大前提</h2>
    <p>まず、日本株高配当の見つけ方と、前提知識については下記Youtubeをご確認ください。</p>
    <a href="https://www.youtube.com/watch?v=Uz3PwW5L9w4">
        第239回 【月3万円の配当金を目指して】リベ大流「高配当株投資」の大前提5選【初心者向け】【株式投資編】
    </a>
    <br><br>
    <p>さぁ、日本株高配当を始めるための前提条件はわかりましたでしょうか？</p>

    <h2>日本高配当株の見つけ方</h2>
    <p>日本高配当株の見つけ方は、以下の動画をまずご覧ください。</p>
    <a href="https://www.youtube.com/watch?v=CzPo5enC73Y">
        【初心者向け】高配当株の「分析ツール」の使い方をカンタン解説【株式投資編】：（アニメ動画）第130回
    </a>
    <br><br>
    <p>いかがでしたか？こちらの動画をみて、「よしわかった！早速調べていこう！」と思われる方は大丈夫です。<br>
        しかし、私を含めて大多数の方は、「うわ、、、すごい大変そう。。自分には無理かも、、」と思われたのではないでしょうか。<br>
        そういう人たち（特に私^^)のために、このシステムを作りました。
    </p>
    <p>本来、優良な高配当株を探すというのは、とても大変なことです。<br>
        多くの人たちが諦めるからこそ、<br>
        それをやりきった人に、果実が得られるのです。<br>
        両学長の選定の仕方は、これでおそらくめちゃくちゃシンプルな方法ですが、それでも大変ですね。<br>
        <br>
        Step1「高配当ランキング」で銘柄を選んで、<br>
        Step2 IRBANKで丁寧にデータをみていって、良さげな銘柄を選別します。<br>
        Step3 企業情報を調べます<br>
        Step4 Step1~Step3の情報を総合的に自分で考えて、投資判断をします。
    </p>
    <p>
        本システムは、Step1とStep2をサポートする目的で作成しました。<br>
        高配当ランキングデータを定期的に取得して、それに対応するIRBANKデータも収集します。<br>
        収集したデータのうち、両学長の８つの選定基準のデータを抽出してグラフ化し、このシステムだけで<br>
        高配当株の財務情報のスクリーニングができるようにしました。
    </p>
    <h2>優良高配当株の選定ポイント</h2>
    以下の８つの項目をIRBANKから取得して、選定のポイントとします。
    <ol>
        <li>売上高</li>
        <li>営業利益率</li>
        <li>EPS</li>
        <li>自己資本比率</li>
        <li>営業活動によるCF</li>
        <li>現金等</li>
        <li>一株配当</li>
        <li>配当性向</li>
    </ol>

    ぜひ、あなたにとって最良な優良株を見つけるために本システムを活用してくださいね！
    <br><br>
    <h1>開発計画</h1>
    本システムは、<br>
    <ul>
        <li>yahoo高配当ランキング（https://finance.yahoo.co.jp/stocks/ranking/dividendYield?）</li>
        <li>IRBNAK（https://irbank.net/）</li>
    </ul>
    から情報を収集し、データベースに保存したものを表示しています。<br>
    デザインや、ページとしての機能はまだ粗いところもありますが、基本機能としては十分活用できるものと思いますので<br>
    まず公開してみたいと思います。<br><br>
    <h4>今後の計画</h4>
    今後の開発では、次の内容を進めて行きたいと考えています。
    <ul>
        <li>デザインをブラッシュアップして見やすくすること</li>
        <li>配当率によるランキングではなく、財務優良性などを考慮した分析を加えたランキングをつける</li>
        <li>さらに機械学習を加えて、より精度の高い優良高配当株をスクリーニングできるようにしたい</li>
        <li>仮想的なポートフォリオを仮作成して、自分のポートフォリオをシミュレーションする</li>
    </ul>
    一つ一つ、検討しながらブラッシュアップして、機能を拡張していきたいと思います。



</div>

{% endblock %}