{% extends "base_dashboard.html" %}

{% block content_graph %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div style="width: 90%;">
            <h3>{{ company_code }} : {{ company_name }}</h3>
            <h5>株価の推移は以下の通り。</h5>
            <div id="graph1">{{ graph_stock|safe }}</div>

            <h3>IR情報</h3>
            {% for graph in graph_ir_list: %}
                {{ graph |safe }}<br>
            {% endfor %}
            <canvas class="my-4" id="myChart" width="100%" height="380"></canvas>
        </div>
    </div>
</div>
<!-- plotly CDN -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
