{% extends "base_dashboard.html" %}

{% block content_table %}
<h2>高配当ランキング一覧</h2>
<div class="table-responsive" style="max-height: 800px; overflow-y: auto;">
    <table class="table table-sm ">
        <thead class="sticky-header">
            <tr>
                <th scope="col">証券<br/>コード</th>
                <th scope="col">企業名</th>
                <th scope="col">業種</th>
                <th scope="col">企業説明</th>
                <th scope="col">配当率</th>
                <th scope="col">配当順位</th>
                <th scope="col">株価</th>
                <th scope="col">PER</th>
                <th scope="col">PBR</th>
                <th scope="col">更新日</th>
            </tr>
        </thead>
        <tbody>
            {% for row in companies_data: %}
            <tr>
                {% for col in row: %}
                {% if col == 1 %}
                <form action="/" method="post">
                    <td><input type="submit" name="company_code" value="{{ row[col] }}" class="form-control bg-dark text-light"></td>
                </form>
                {% else %}
                <td>{{ row[col] }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}