<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/bootstrap/favicon.ico">

    <title>Japanese High Dividend Stock Information</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap/dashboard.css" rel="stylesheet">

    <!-- CSS for loader -->
    <link href="../static/loader.css" rel="stylesheet">

    <!-- CSS for original -->
    <link href="../static/style.css" rel="stylesheet">
  </head>

  <body>
    {% block navbar %}
    {% include 'snippets/navbar.html' %}
    {% endblock navbar %}

    <div id="loader">
      <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="loader"></div>
      </div>
    </div>

    <div id="content" style="display: none;">
      <div class="container-fluid">
        <div class="row">

          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            {% include 'snippets/sidebar.html' %}
          </nav>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% block content_graph %}
            {% endblock %}

            {% block content_table %}
            {% endblock %}

          </main>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

   <!-- JavaScript　for loader -->
   <script src="../static/loader.js"></script>

  </body>

</html>
